extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.body.body02
	    
		.preloader 
			.lds-eclipse
				.spinner
				.spinner.reverse

		+header

		+image('topogame.jpg', 'imgTop')
		h2.textNeon.titleRanking.textDig Ranking

		section.sec1
			p Você conquistou <b>[<span class='currentScore'>0</span> pontos]</b> no jogo <span class='currentGame'>Cursos Ao Vivo</span>.
			p.prop-mt1 Confira a sua colocação no nosso ranking:

			.ranking
				
				.boxRanking
					button.rankingScore.hide(data-modal="#pop1")
						div.datBase
							p.nome Nome 1
							p -
							p.score 100 pontos
						div.ico
			.footerInfo
				h2 Temos muito mais<br> para você!
				p Sua dedicação, curiosidade e esforço o levaram a novos patamares de aprendizado e descoberta.
				p Ao longo desta jornada, você adquiriu valiosos conhecimentos e habilidades que serão úteis no mundo Lorem Ypsum. Continue explorando, questionando e aprendendo. O mundo está cheio de maravilhas esperando por você.
				h4 <b>Sua Jornada Continua!</b>


								
		
		+footer

		.modal#pop1
			.box
				.topo
					h2 pontuação
					button.modal-close
				.containerBox
					h3.nome Nome 
					.flexBox
						h4 Jogo da Memória
						p.pontos.game1 0
					.flexBox
						h4 Qual é a Palavra
						p.pontos.game2 0
					.flexBox
						h4 Caça Palavras
						p.pontos.game3 0
					.flexBox.smallInfo 
						p * A nota do ranking sempre será a maior pontuação obtida pelo jogador em todos os jogos que ele realizou.

		
block scripts
	script(src="script.js")