include mixin.imports.pug
include mixin.slider.pug
include mixin.modal.pug
include mixin.feedback.pug
include mixin.pick.one.pug
include mixin.vf.pug
include mixin.header.pug
include mixin.arrows.pug
include mixin.slick.pug
include mixin.footer.pug
include mixin.ilha.pug
include mixin.ballon.pug
include mixin.instrucoes.pug
include mixin.equipamentos.pug
include mixin.conquistas.pug
include mixin.radio.pug
include mixin.libras.pug
include mixin.avatar.pug
include mixin.menuScreen.pug
include mixin.topgame.pug
