mixin topgame(nome)
    .boxTop
        h2.title= nome
        .info
            video(src="../../assets/video/timer.mp4" autoplay muted loop) 
            span.value {{ time }} 
            //- div
            //- 	span.label Turns:
            //- 	span.value {{ turns }} 