extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.body.body02
		+header

		section.sec1
			p <b>Entre no jogo e explore as profundezas da cultura, história e mistérios do fascinante universo de Lorem Ipsum. Mergulhe em descobertas surpreendentes e amplie seus horizontes, enriquecendo sua compreensão sobre esse mundo cativante.</b>

		section.sec2
			.box
				p Clique na sua área de interesse.
			button.menu(game='1')
				.boxVideo.btnNeon
					video(src="../../assets/video/video1.mp4" muted loop autoplay) 
				//- +image('menu1.png','img')
				h2.textNeon Cursos Ao Vivo
			button.menu(game='2')
				.boxVideo.btnNeon
					video(src="../../assets/video/video2.mp4" muted loop autoplay) 
				//- +image('menu2.png','img')
				h2.textNeon Palavra
			button.menu(game='3')
				.boxVideo.btnNeon
					video(src="../../assets/video/video3.mp4" muted loop autoplay) 
				//- +image('menu3.png','img')
				h2.textNeon Cursos Online

		//- +footer
		
block scripts
	script(src="script.js")