extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.body.body01
		h2.text.textNeon Escolha um jogo e divirta-se conhecendo nossas soluções.
		button.init.btnNeon
			p INICIAR
		
block scripts
	script(src="script.js")